.work {
  max-width: 80%;
  margin: 2rem auto;
  padding: 2rem;
}

.work-card {
  padding: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  flex: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}
.work-card-project-description {
  flex-grow: 1;
  height: 10rem;
  overflow-y: auto;
}
.work-card-technology {
  height: 5.5rem;
}
.work-card-button-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.work-card-button-section-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
